<div id="parceiros" class="menu_direita_element">
    <div id="parceiros_top" class="menu_direita_top">
        <label id="parceiros_label" class="menu_direita_label">Parceiros</label>
    </div>
    <div id="parceiros_medium" class="menu_direita_medium">
        <% for item in @partners %>
          <% link_to item.site do %>
            <%= image_tag item.data.url() , :class => "menu_direita_imgs" %>
          <% end %><br/>
        <% end %>
    </div>
    <div id="parceiros_footter" class="menu_direita_footter">
    </div>
</div>

