    <div id="conteudo">
      <div id="vehicles_page">
        <%= render :partial => "vehicles_page"%>
      </div>


      <div id="menu_direita">

                <%= render :partial => "partners" %>

                <%= render :partial => "stores" %>
      </div>

      <div id="fundo_pag_footer">
      </div>

