<html>
  <body>
    <div id="conteudo">
      <div id="vehicles">
        <%= render :partial => "vehicles"%>
      </div>
      <div id="moto">
        <%= render :partial => "bikes"%>
      </div>

      <div id="menu_direita">

                <%= render :partial => "partners" %>

                <%= render :partial => "stores" %>

      </div>

      <div id="fundo_pag_footer">
      </div>

</body>
</html>

